# 4. Lists

 * Lists are ordered
 * Lists can contains any arbitrary objects.
 * Lists elements can be accessed by index.
 * Lists can be nested to arbitrary depth.
 * Lists are mutable.
 * Lists are dynamic.

In [1]:
# Creating a lsit

x=['Hello World',25,2023]
x

['Hello World', 25, 2023]

In [4]:
print(x[0])
print(x[1])
print(x[2])

Hello World
25
2023

In [8]:
print('Positive and negative indexing of the first element: ',x[0],'Negative indexing: ',x[-3])
print('Positive and Negative indexing of the second element: ',x[1], 'Negative indexing: ',x[-2])
print('Positive and Negative indexing of the third element: ',x[2],'Negative indexing: ',x[-1])

Positive and negative indexing of the first element:  Hello World Negative indexing:  Hello World
Positive and Negative indexing of the second element:  25 Negative indexing:  25
Positive and Negative indexing of the third element:  2023 Negative indexing:  2023

# What can content a list?

 * Strings
 * Float
 * Integer
 * Boolean
 * Nested List
 * Nested Tuple
 * Other Data Structures

In [22]:
xy=['Python',3.14,2023,True,False,[1,2,3,4,5,6,7,8,'Jayshree'],('Hello World',3.14,2023)]
xy

['Python',
 3.14,
 2023,
 True,
 False,
 [1, 2, 3, 4, 5, 6, 7, 8, 'Jayshree'],
 ('Hello World', 3.14, 2023)]

In [12]:
# length of the lsit
len(xy)

7

# Slicing of the list

In [23]:
# Slicing of a list.

print(xy[5:6])

[[1, 2, 3, 4, 5, 6, 7, 8, 'Jayshree']]

In [29]:
print(xy[5][8])

Jayshree

In [32]:
print(xy[6][0])

Hello World

# Extending the list

 * We use extend() function to add a new element to the list.
 * With this function, we add more than one element to the list.

In [36]:
xy=['Python',3.14,2023,True,False,[1,2,3,4,5,6,7,8,9],('Hello World',3.14,2023)]
print(xy)
xy.extend(['Jayshree',25,5.3])  #it include at the end of the list.
xy

['Python', 3.14, 2023, True, False, [1, 2, 3, 4, 5, 6, 7, 8, 9], ('Hello World', 3.14, 2023)]

['Python',
 3.14,
 2023,
 True,
 False,
 [1, 2, 3, 4, 5, 6, 7, 8, 9],
 ('Hello World', 3.14, 2023),
 'Jayshree',
 25,
 5.3]

# append() method

 * As different from the extend() mehtod with the append() method, We add only one element to the list
 * You can see the differece by comparing the above and below codes.

In [40]:
xy=['Python',3.14,2023,True,False,[1,2,3,4,5,6,7,8,'Jayshree'],('Hello World',3.14,2023)]

xy.append(1.618)
xy

['Python',
 3.14,
 2023,
 True,
 False,
 [1, 2, 3, 4, 5, 6, 7, 8, 'Jayshree'],
 ('Hello World', 3.14, 2023),
 1.618]

# len(), append(),count(), index(),insert(),max(),min(),sum() functions

In [52]:
lis=[1,2,3,4,5,6,7]
print(len(lis))
lis.append(4)
print(lis)
print(lis.count(4)) # How many 4 are on the list 'lis'?
print(lis.index(2)) # What is the index number of 2 in the list "lis"?
lis.insert(8,9)     # Add number 9 to the index 8.
print(lis)

print(max(lis))    # What is the maximum number of list 'lis'?
print(min(lis))    # What is the minimum number of the list 'lis'?
print(sum(lis))    # What is the total sum of the list 'lis'?

7
[1, 2, 3, 4, 5, 6, 7, 4]
2
1
[1, 2, 3, 4, 5, 6, 7, 4, 9]
9
1
41

# Changing the element of a list since it is mutable.

In [62]:
xy=['Python',3.14,2023,True,False,[1,2,3,4,5,6,7,8,'Jayshree'],(1,2,3,4,5)]
print('Before Changing: ',xy)

xy[0]='Nashik'
print('After Changing:',xy)

xy[5]=[100,200,300,400]
print('After Changing:',xy)

xy[5][3]='Jayshree Pawar'
print('After Chaning:',xy)
#xy[6][4]=500
#print(xy)   #'tuple' object does not support item assignment

Before Changing:  ['Python', 3.14, 2023, True, False, [1, 2, 3, 4, 5, 6, 7, 8, 'Jayshree'], (1, 2, 3, 4, 5)]
After Changing: ['Nashik', 3.14, 2023, True, False, [1, 2, 3, 4, 5, 6, 7, 8, 'Jayshree'], (1, 2, 3, 4, 5)]
After Changing: ['Nashik', 3.14, 2023, True, False, [100, 200, 300, 400], (1, 2, 3, 4, 5)]
After Chaning: ['Nashik', 3.14, 2023, True, False, [100, 200, 300, 'Jayshree Pawar'], (1, 2, 3, 4, 5)]

In [64]:
x=[1,2,3,4,5,6]
type(x)

list

# Deleting the element from the list using del() function

In [71]:
print('Before Deleting:',xy)

Before Deleting: []

In [78]:
x=['Python',3.14,2023,True,False,[1,2,3,4,5,6,7,8,'Jayshree'],(1,2,3,4,5)]

print('Before Deleting:',x)
del(x[5][2])
print('After Deleting:',x)
del(x[-1])
print('After Deleting:',x)

Before Deleting: ['Python', 3.14, 2023, True, False, [1, 2, 3, 4, 5, 6, 7, 8, 'Jayshree'], (1, 2, 3, 4, 5)]
After Deleting: ['Python', 3.14, 2023, True, False, [1, 2, 4, 5, 6, 7, 8, 'Jayshree'], (1, 2, 3, 4, 5)]
After Deleting: ['Python', 3.14, 2023, True, False, [1, 2, 4, 5, 6, 7, 8, 'Jayshree']]

In [80]:
print('Before Deleting:',x)
del (x)
print('After Deleting:',x)

Before Deleting: ['Python', 3.14, 2023, True, False, [1, 2, 4, 5, 6, 7, 8, 'Jayshree']]

NameError: name 'x' is not defined

# Python List Methods

In [1]:
s=[10,20,30]
s.append(40)
print(s)

[10, 20, 30, 40]

In [42]:
s.extend([40,40,40])
s

[10, 20, 30, 40, 40, 40]

In [5]:
x=[10,20,30]
x.insert(3,40)    #first parameter is index, and second is number.
x

[10, 20, 30, 40]

In [6]:
s

[10, 20, 30, 40, 40, 40, 40, 40]

In [7]:
x

[10, 20, 30, 40]

In [8]:
s.count(40)  #count() it counts items in the list.

5

In [12]:
t=[1,2,3,4,5]
print(t)
t.clear()
print(t)

[1, 2, 3, 4, 5]
[]

In [20]:
print(s)
s.remove(40)
print(s)

[10, 20, 30, 40]
[10, 20, 30]

In [24]:
y=[10,20,30,40,50,60]
print(y)
y.remove(50)
print(y)

[10, 20, 30, 40, 50, 60]
[10, 20, 30, 40, 60]

In [25]:
y.pop(1)  # it takes index number as a argument to which element removed.
print(y)

[10, 30, 40, 60]

In [30]:
print(y)
y.reverse()
print(y)

[10, 30, 40, 60]
[60, 40, 30, 10]

In [35]:
t=[70,50,80,90,10,30]
t.sort()
print(t)

[10, 30, 50, 70, 80, 90]

In [41]:
t=[12,13,14,15,16]
print('Original t:',t)
y=t
print('Copy of t:',y)

Original t: [12, 13, 14, 15, 16]
Copy of t: [12, 13, 14, 15, 16]

In [43]:
x=[10,20,30,40]
print(x)

[10, 20, 30, 40]

In [51]:
x.extend([50])
x

[10, 20, 30, 40, 50, 50, 50, 50]

# Concatenate of the list.

In [52]:
a_list=['a','b',['c','d'],'e']
b_list=[1,2,3,4,5,6,(7,8),True, False]
new_list=a_list+b_list
print(new_list)

['a', 'b', ['c', 'd'], 'e', 1, 2, 3, 4, 5, 6, (7, 8), True, False]

# As different from the list, I also find significant of the follwing information:
    * input() function: In Python provides a user of a program supply inputs to the running program at runtime.

In [60]:
text=input('Enter any string:')
print('The text is: ',text)
print(type(text))

Enter any string:Jayshree
The text is:  Jayshree
<class 'str'>

In [62]:
text1=int(input('Enter any integer: '))
print('The text is: ',text1)
print(type(text1))

Enter any integer: 123
The text is:  123
<class 'int'>

In [64]:
text2=float(input('Enter your age: '))
print('You Entered age: ',text2)
print(type(text2))

Enter your age: 74.5
You Entered age:  74.5
<class 'float'>

# eval() function
    * This function serves the aim of converting a string to an integer or a float.

In [68]:
s='2+5'
print('Without eval() function',s)

total=eval(s)
print('After eval() function',total)

Without eval() function 2+5
After eval() function 7

In [71]:
expression='8+7'
print(expression)

total=eval(expression)
print(total)

8+7
15

# format() function.

    * This function helps us to format the ouput printed on the screen with good look and attractive.

In [79]:
a=float(input('Enter any number: '))
b=float(input('Enter other number: '))
total=a+b
print('Without format()',total)

print('Sum of {} and {} is {}'.format(a,b,total))

Enter any number: 12
Enter other number: 15
Without format() 27.0
Sum of 12.0 and 15.0 is 27.0

In [77]:
name=input('Enter your name:')
age=float(input('Enter your age:'))
print('Your name is {} and age is {}'.format(name,age))

Enter your name:Vinod
Enter your age:40
Your name is Vinod and age is 40.0

# Comparison operators

    * The opeartors such as <,>,<=,>=,== and != compare the certeain two operands and returns True of False Statement.

In [85]:
a=3
b=2

print('a>b is:',a>b)
print('a<b is:', a<b)
print('a<=b is:',a<=b)
print('a>=b is:', a>=b)
print('a==b is:', a==b)
print('a!=b is:', a!=b)

a>b is: True
a<b is: False
a<=b is: False
a>=b is: True
a==b is: False
a!=b is: True